.semitransparent-dark{
  background:rgba(5,5,5,0.5);
}

.semitransparent-light{
  background:rgba(c,c,c,0.5);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.border-row {
    border-top: 1px solid #444;
}

.footer-container{
    margin-left:50px;
    margin-right:50px;
    margin-bottom:0px;

}

#page_home .frontulet_toggle_home,
#page_routes .frontulet_toggle_routes,
#page_map .frontulet_toggle_map,
#page_about .frontulet_toggle_about,
#page_profile .frontulet_toggle_profile, .active{
    color:#fff;
    background-color: #080808;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
