table {
    border-collapse: collapse;
    font-size: small;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
    vertical-align: top;
    text-align: right;
}

.route_map-container {
    width: 100%;
    height: 800px;
    border: solid;
}

.highlight-map-container {
    width: 100%;
    height: 500px;
    border: solid;
}

.highlight-media-container {
    border: solid;
    border-color: grey;
}


.highlight-info-container {
    width: 100%;
    height: 500px;
    border: solid;
    overflow-y: auto;
    padding: 5px;
}


.spacer {
    margin-top: 40px;
}

.ref_div{
    border:dotted;
    padding: 10px;
}