{% extends "registration/registration_base.html" %}
{%  load i18n %}

{% block navbar %}
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-defaults navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li><p class="navbar-text">{% trans "dont_have_an_account" %}
                                <a href="{% url "auth_register" %}">{% trans "register" %}</a></p>
                            </li>
                               <li><p class="navbar-text">{% trans "use_without_registering" %} <a href="{% url "show_home" %}">{% trans "return_home" %}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block main_body %}
    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <div id="header">
            <div id="branding">

                <h1 id="site-name">{% trans "holet_login" %}</h1>

            </div>

        </div>
        <!-- END Header -->

        <!-- Content -->
        <div id="content" class="colM">


            <div id="content-main">


                {% if form.errors %}
                    <p>{% trans "error_username_password_no_match" %}</p>
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

                    <input type="submit" value="{% trans "login" %}"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>


                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                </script>
            </div>


            <br class="clear"/>
        </div>
        <!-- END Content -->

        <div id="footer"></div>
    </div>
    <!-- END Container -->

{% endblock %}