{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block navbar %}
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-defaults navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
   <li><p class="navbar-text"><a href="{% url "show_home" %}">{% trans "Return to home page" %}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block main_body %}
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name">{% trans "Holet Permission Denied" %}</h1>
            </div>
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main">
             {% trans "You need to log in in order to make or edit routes." %}
            </div>
            <br class="clear"/>
   <a class="btn btn-default btn-sm" href={% url 'auth_login' %}>Log In</a> <a class="btn btn-default btn-sm" href={% url 'auth_register' %}>{% trans "Register" %}</a>

        </div>
        <!-- END Content -->

        <div id="footer"></div>
     </div>
    <!-- END Container -->
{% endblock %}
