{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block navbar %}
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-defaults navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="navbar-text">{% trans "already_registered_q" %}
                                <a href="{% url "auth_login" %}">Log in</a></p>
                            </li>
   <li><p class="navbar-text">{% trans "use_without_registering" %}
                                <a href="{% url "show_home" %}">{% trans "return_home" %}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block main_body %}
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name">{% trans "holet_registration" %}</h1>
            </div>
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main">
                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}
                <h1>Registration:</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans "register" %}"/>
                </form>
                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                </script>
            </div>
            <br class="clear"/>
        </div>
        <!-- END Content -->

        <div id="footer"></div>
 <div id="content" class="colM">
</div>
    </div>
    <!-- END Container -->
{% endblock %}



