{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>

    <style>

    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
</style>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}about{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">

    <h1 class="center" style="font-size: 48px;font-weight: 700;">{{ title }}</h1>
    <img height="144px" class="center" src="{% static "frontulet/icons/ic_erulet_new.png" %}">

</div>

    <h5 class="center">{% trans "Eth Holet (pronunciació: er-ulet) és un personatge de la mitologia aranesa. És un follet que viu amagat als boscos, i representa l'esperit de la Natura. Aquesta aplicació permet a Eth Holet introduir-se en el vostre dispositiu, i guiar-vos al llarg de diversos itineraris en espais naturals en els que l'aigua és protagonista." %}</h5>


            <div class="row featurette">

    <div class="center">
    <img height="100px" src="{% static "frontulet/icons/launcher200.png" %}">
    </div>

    <h2 class="center">{{ line1|safe }}</h2>

    <a href="http://www.sudeau.eu/"><img height="70px" class="center" src="{% static "frontulet/logos/SUDEAU2blue.jpg" %}"></a>

    <h3 class="center">{{ line2|safe }}</h3>

    <a href="http://www.loopweb.org"><img height="70px" class="center" src="{% static "frontulet/logos/logoLOOP.png" %}"></a>

    <h3 class="center" style="color:grey;">{{ line3|safe }}</h3>

    <a href="http://www.creaf.cat"><img height="70px" class="center" src="{% static "frontulet/logos/ceab-uab-creaf.jpg" %}"></a>

    <h3 class="center">{{ line4|safe }}</h3>

    <a href="http://www.movelab.net/"><img height="70px" class="center" src="{% static "frontulet/logos/movelab.jpg" %}"></a>

    <h3 class="center">{{ line5|safe }}</h3>

    <a href="http://www.vielha-mijaran.org/"><img height="70px" class="center" src="{% static "frontulet/logos/ajuntament.jpg" %}"></a>

    <h3 class="center">{{ line6|safe }}</h3>

    <a href="http://www.interreg-sudoe.eu/"><img height="130px" class="center" src="{% static "frontulet/logos/sudeu.jpg" %}"></a>

    <h3 class="center">{{ line7|safe }}</h3>

    <p class="center" style="max-width: 400px;">{{ line8|safe }}<p>

                </div>

        <br><br>

            <h4>{% trans "built_from_foss" %}</h4>
<br>
            <h5>{% trans "content_by" %} <a href="http://www.ceab.csic.es/web/?p=1636">Lluís Camarero</a> &middot; {% trans "website_and_server_by" %} <a href="http://johnrbpalmer.com">John R.B. Palmer</a> &middot; {% trans "android_by" %} <a href="http://www.creaf.cat/en/personal/agust%C3%AD-escobar-r%C3%BAbies">Agustí Escobar Rúbies</a> and <a href="http://johnrbpalmer.com">John R.B. Palmer</a> &middot; {% trans "html5_by" %} <a href="http://wuyingren.github.io/">Jordi López</a> &middot; {% trans "ios_by" %} <a href="http://www.omatech.com/">Omatech</a></h5>

            <h5>&copy; 2014 {% trans "holet_team" %}</h5>




    </div>


{% endblock %}