{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>

    <style>

    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
</style>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}about{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">

    <h1 class="center">{{ title }}</h1>
    <img height="100px" class="center" src={% static "frontulet/icons/ic_erulet_new.png" %}>

</div>

            <div class="row featurette">

    <div class="center">
    <img height="100px" src={% static "frontulet/icons/launcher200.png" %}>
    <img height="100px" src={% static "frontulet/icons/erulet_stone.png" %}>
    </div>

    <h2 class="center">{{ line1|safe }}</h2>

    <img height="70px" class="center" src={% static "frontulet/logos/SUDEAU2blue.jpg" %}>

    <h3 class="center">{{ line2|safe }}</h3>

    <img height="70px" class="center" src={% static "frontulet/logos/logoLOOP.png" %}>

    <h3 class="center" style="color:grey;">{{ line3|safe }}</h3>

    <img height="70px" class="center" src={% static "frontulet/logos/ceab-uab-creaf.jpg" %}>

    <h3 class="center">{{ line4|safe }}</h3>

    <img height="70px" class="center" src={% static "frontulet/logos/movelab.jpg" %}>

    <h3 class="center">{{ line5|safe }}</h3>

    <img height="70px" class="center" src={% static "frontulet/logos/ajuntament.jpg" %}>

    <h3 class="center">{{ line6|safe }}</h3>

    <img height="70px" class="center" src={% static "frontulet/logos/sudeu.jpg" %}>

    <h3 class="center">{{ line7|safe }}</h3>

    <p class="center">{{ line8|safe }}<p>

                </div>

        <br><br>

            <h4>{% trans "Holet is built from free and open source code. Check out our <a href='../api/'>API</a> or fork us on <a href='http://github.com/MoveLab'>Github</a>!" %}</h4>
<br>
            <h5>{% trans "Content by" %} <a href="http://www.ceab.csic.es/web/?p=1636">Lluís Camarero</a> &middot; {% trans "Website and server backend by" %} <a href="http://johnrbpalmer.com">John R.B. Palmer</a> &middot; {% trans "Android app by" %} <a href="http://www.creaf.cat/en/personal/agust%C3%AD-escobar-r%C3%BAbies">Agustí Escobar Rúbies</a> &middot; {% trans "Mobile HTML5 app by" %} <a href="http://wuyingren.github.io/">Jordi López</a></h5>

            <h5>&copy; 2014 {% trans "by the Holet Team at the Movement Ecology Lab (CEAB-CSIC) and CREAF" %}</h5>




    </div>


{% endblock %}