{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}<meta charset="utf-8">{% endblock  %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Holet">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}Holet{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    {% endblock %}

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "frontulet/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}

{% block frontulet_css %}
    <!-- Servulet CSS -->
    <link rel="stylesheet" href={% static "frontulet/frontulet_style.css" %}>
    {% endblock %}

{% block fallback_bs_js %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


    {% block head_additions %}


    {% endblock %}

</head>

<body id="page_{% block page_id %}{% endblock %}" {% block body_property_extras %}{% endblock %}>

{% block navbar %}
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">{% trans "navbar_toggle_navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href={% url "show_landing_page" %}><span style="color:#428bca">Holet</span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="frontulet_toggle_home" href={% url "show_home" %}>{% trans "navbar_home" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="frontulet_toggle_routes dropdown-toggle" data-toggle="dropdown">{% trans "navbar_routes" %}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href={% url 'show_route_list_all' %}>{% trans "all_routes" %}</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href={% url 'show_route_list' 'mine' %}>{% trans "my_routes" %}</a></li>
                                        <li><a href={% url 'show_route_list' 'others' %}>{% trans "other_hikers_routes" %}</a></li>
                                    {% endif %}
                                    <li><a href={% url 'show_route_list' 'official' %}>{% trans "holets_routes" %}</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li><a href={% url "make_new_route" %}>{% trans "navbar_routes_add_new" %}</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href={% url "show_survey_results" %}>{% trans "survey_results" %}</a></li>


                                </ul>
                            </li>
                            <li><a class="frontulet_toggle_map" href={% url "show_map" %}>{% trans "navbar_map" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="frontulet_toggle_reference dropdown-toggle" data-toggle="dropdown">{% trans "navbar_reference" %}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href={% url 'show_before_leaving' %}>{% trans "navbar_before_leaving" %}</a></li>
                        {% if request.user.is_authenticated %}
                        {% for group in request.user.groups.all %}
                        {% if group.name == 'scientists' %}
                                    <li><a href={% url "show_general_references" %}>{% trans "navbar_general_reference" %}</a></li>
                                    {% endif %}{% endfor %}{% endif %}
                                    <li><a href={% url "show_manual" %}>{% trans "navbar_app_manual" %}</a></li>
                                </ul>
                            </li>


                            <li><a class="frontulet_toggle_about" href={% url "show_about" %}>{% trans "navbar_about" %}</a></li>

                        {% if request.user.is_authenticated %}
                        {% for group in request.user.groups.all %}
                        {% if group.name == 'translators' %}
                        <li class="dropdown">
                                <a href="#" class="frontulet_toggle_translation dropdown-toggle" data-toggle="dropdown">{% trans "navbar_translation" %}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href={% url 'translate_routes' 'oc' %}>{% trans "navbar_translation_r_oc" %}</a></li>
                                    <li><a href={% url 'translate_routes' 'es' %}>{% trans "navbar_translation_r_es" %}</a></li>
                                    <li><a href={% url 'translate_routes' 'fr' %}>{% trans "navbar_translation_r_fr" %}</a></li>
                                    <li><a href={% url 'translate_routes' 'en' %}>{% trans "navbar_translation_r_en" %}</a></li>
                                    <li><a href={% url 'translate_routes' 'spain' %}>{% trans "navbar_translation_r_oc_es" %}</a></li>
                                    <li><a href={% url 'translate_routes' 'all' %}>{% trans "navbar_translation_r_all" %}</a></li>
   <li class="divider"></li>
                                    <li><a href={% url 'translate_highlights' 'oc' %}>{% trans "navbar_translation_h_oc" %}</a></li>
                                    <li><a href={% url 'translate_highlights' 'es' %}>{% trans "navbar_translation_h_es" %}</a></li>
                                    <li><a href={% url 'translate_highlights' 'fr' %}>{% trans "navbar_translation_h_fr" %}</a></li>
                                    <li><a href={% url 'translate_highlights' 'en' %}>{% trans "navbar_translation_h_en" %}</a></li>
                                    <li><a href={% url 'translate_highlights' 'spain' %}>{% trans "navbar_translation_h_oc_es" %}</a></li>
                                    <li><a href={% url 'translate_highlights' 'all' %}>{% trans "navbar_translation_h_oc" %}</a></li>

                                </ul>
                            </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                <li><a class="frontulet_toggle_profile"
                                       href={% url "show_profile" %}>{{ request.user.username }}</a>
                                </li>
                                <li>

                                    <a href="{% url "auth_logout" %}">{% trans "logout" %}</a>
                                </li>
                            {% else %}
                                <li>

                                    <a href="{% url "auth_login" %}">{% trans "login" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "auth_register" %}">{% trans "register" %}</a>
                                </li>

                            {% endif %}


                        </ul>

                                <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                    <select class="form-control" name="language" onchange="this.form.submit()">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected="selected"{% endif %}>
                                {{ language.name_local|title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block main_body %}



{% endblock %}


{% block body_scripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "frontulet/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "frontulet/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "frontulet/bootstrap-3.2.0-assets/js/docs.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "frontulet/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>
{% endblock %}

</body>
</html>
