{% extends "frontulet/before_leaving_ca.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
{% endblock %}
{% block fa_css %}
{% endblock %}
{% block frontulet_css %}
{% endblock %}
{% block fallback_bs_js %}
{% endblock %}


{% block head_additions %}

{% endblock %}


{% block body_property_extras %}{% endblock %}

{% block navbar %}
{% endblock %}

{% block main_body %}
    <div style="width:90%; margin: 0 auto;">
        <h1>{% trans "Abans de sortir" %}</h1>

        <table>
            <col width="20%">
            <col width="80%">
            <tr>
                <td>
                    <img width="80%" style="max-width:60px;"
                         src="{% static 'frontulet/icons/before_leaving/sat.png' %}">
                </td>
                <td><h3>{{ gps_title|safe }}</h3></td>
            </tr>
        </table>
        {{ gps_text|safe }}
        <table>
            <col width="20%">
            <col width="80%">
            <tr>
                <td><img width="80%" style="max-width:60px;"
                         src="{% static 'frontulet/icons/before_leaving/safety.png' %}">
                </td>
                <td>
                    <h3>{{ safety_title|safe }}</h3></td>
            </tr>
        </table>
        {{ safety_text|safe }}
        <table>
            <col width="20%">
            <col width="80%">
            <tr>
                <td>
                    <img width="80%" style="max-width:60px;"
                         src="{% static 'frontulet/icons/before_leaving/environment.png' %}">
                </td>
                <td>
                    <h3>{{ environment_title|safe }}</h3></td>
            </tr>
        </table>
        {{ environment_text|safe }}
    </div>
{% endblock %}

{% block body_scripts %}

{% endblock %}