{% extends "frontulet/form_base.html" %}
{% load staticfiles %}

{% block head_additions %}

{{ block.super }}

    <link rel="stylesheet" href={% static "frontulet/ii_style.css" %}>

{% endblock %}

{% block main_body %}

    <div class="container-fluid">

            <div id="page_title" class="page-header">
            {% block title %}<h1>Add interaction box <small>Drag mouse over photo to set coordinates, then add a message in at least one language.</small></h1>{% endblock %}
            <button id="lang_button" type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-down"></span> Show all languages</button>



            </div>


    <div class="row">

            <div class="col-md-4">



            <form role="form" method="post" action="#">{% csrf_token %}
            {{ form.as_p }}



            <input id="submit_button" type="submit" value="Save and add more"/>
            <input id="cancel_button" type="button" value="Done"/>

            </form>

                </div>



    <div class="col-md-8">
<br><br>
        <img height={{ display_height }} width={{ display_width }} id="photo" src={{ image_url }}>
              <canvas height={{ display_height }} width={{ display_width }} id="canvas_background"></canvas>
              <canvas height={{ display_height }} width={{ display_width }} id="canvas"></canvas>
         </div>

    </div>

    </div>
{% endblock %}


{% block body_scripts %}

    {{ block.super }}

<script>
var canvas = document.getElementById('canvas'),
    ctx = canvas.getContext('2d'),
    canvas_background = document.getElementById('canvas_background'),
    ctxb = canvas_background.getContext('2d'),
    rect = {},
    drag = false;


function init() {

   ctxb.fillStyle='rgba(0, 0, 255, .5)';
    {% for box in boxes %}
    var min_x_d = ({{ box.min_x }}*{{ scaling_factor }});
    var min_y_d = ({{ box.min_y }}*{{ scaling_factor }});
    var max_x_d = ({{ box.max_x }}*{{ scaling_factor }});
    var max_y_d = ({{ box.max_y }}*{{ scaling_factor }});
    ctxb.fillRect(min_x_d, min_y_d, max_x_d, max_y_d);
    {% endfor %}

  canvas.addEventListener('mousedown', mouseDown, false);
  canvas.addEventListener('mouseup', mouseUp, false);
  canvas.addEventListener('mousemove', mouseMove, false);


}

function mouseDown(e) {
  ctx.clearRect(0,0,canvas.width,canvas.height);
  rect.startX = e.pageX - (this.offsetLeft + this.offsetParent.offsetLeft);
  rect.startY = e.pageY - (this.offsetTop + this.offsetParent.offsetTop);
  drag = true;
}

function mouseUp() {
  drag = false;
}

function mouseMove(e) {
  if (drag) {
    rect.w = (e.pageX - (this.offsetLeft + this.offsetParent.offsetLeft)) - rect.startX;
    rect.h = (e.pageY - (this.offsetTop + this.offsetParent.offsetTop)) - rect.startY;
    ctx.clearRect(0,0,canvas.width,canvas.height);
    draw();
    var x1 = Math.round(rect.startX/{{ scaling_factor }}), x2 = Math.round((rect.startX + rect.w)/{{ scaling_factor }}), y1 = Math.round(rect.startY/{{ scaling_factor }}), y2 = Math.round((rect.startY + rect.h)/{{ scaling_factor }});

    $("#id_min_x").val(Math.min(x1, x2).toString());
    $("#id_max_x").val(Math.max(x1, x2).toString());
    $("#id_min_y").val(Math.min(y1, y2).toString());
    $("#id_max_y").val(Math.max(y1, y2).toString());

  }
}

function draw() {
  ctx.fillStyle='rgba(255, 0, 0, .5)';
  ctx.fillRect(rect.startX, rect.startY, rect.w, rect.h);

}

init();



function isPointInsideRect(pointX,pointY,rectX,rectY,rectWidth,rectHeight){
    return  (rectX <= pointX) && (rectX + rectWidth >= pointX) &&
                 (rectY <= pointY) && (rectY + rectHeight >= pointY);
}


var this_lang = "{{ request.LANGUAGE_CODE }}",
        toggle_lang_display = false,
        m_oc = $("#id_message_oc"),
        m_es = $("#id_message_es"),
        m_ca = $("#id_message_ca"),
        m_fr = $("#id_message_fr"),
        m_en = $("#id_message_en"),
        m_oc_l = $("label[for='"+m_oc.attr('id')+"']"),
        m_es_l = $("label[for='"+m_es.attr('id')+"']"),
        m_ca_l = $("label[for='"+m_ca.attr('id')+"']"),
        m_fr_l = $("label[for='"+m_fr.attr('id')+"']"),
        m_en_l = $("label[for='"+m_en.attr('id')+"']");

var $lb = $("#lang_button");

function setup_lang_display(){
if(!toggle_lang_display){

    $lb.html(" <span class='glyphicon glyphicon-chevron-down'></span> Display all languages");

    m_oc.hide();
    m_es.hide();
    m_ca.hide();
    m_fr.hide();
    m_en.hide();
    m_oc_l.hide();
    m_es_l.hide();
    m_ca_l.hide();
    m_fr_l.hide();
    m_en_l.hide();

    if(this_lang=='oc'){
        m_oc.show();
        m_oc_l.show();
    }
    else if(this_lang=='es'){
        m_es.show();
        m_es_l.show();
    }
    else if(this_lang=='ca'){
        m_ca.show();
        m_ca_l.show();
    }
    else if(this_lang=='fr'){
        m_fr.show();
        m_fr_l.show();
    }
    else if(this_lang=='en'){
        m_en.show();
        m_en_l.show();
    }
} else{
        $lb.html(" <span class='glyphicon glyphicon-chevron-down'></span> Display only your language");

    m_oc.show();
    m_es.show();
    m_ca.show();
    m_fr.show();
    m_en.show();
    m_oc_l.show();
    m_es_l.show();
    m_ca_l.show();
    m_fr_l.show();
    m_en_l.show();

}

}

    function toggle_langs(){
        toggle_lang_display = ! toggle_lang_display;
        setup_lang_display();
    }


setup_lang_display();

$lb.on("click", toggle_langs);

$("#cancel_button").on("click", function() {window.location.replace("{% url 'show_route_detail' route_id %}")});

</script>

{% endblock %}

