{% extends "frontulet/form_base.html" %}
{% load staticfiles %}
{% load i18n %}

     {% block title %}
         <h1>{% trans "new_reference" %} <small>{% trans "new_reference_from_zip" %}</small></h1>
         <p>{% trans "new_reference_text" %}</p>

                 <button id="lang_button" type="button" class="btn btn-primary"><span
                    class="glyphicon glyphicon-chevron-down"></span> {% trans "Show all languages" %}
            </button>

     {% endblock %}

{% block body_scripts %}
{{ block.super }}

    <script>


    var this_lang = "{{ request.LANGUAGE_CODE }}";

$("#id_name_oc, label[for='id_name_oc']").addClass("oc lang");
$("#id_name_es, label[for='id_name_es']").addClass("es lang");
$("#id_name_ca, label[for='id_name_ca']").addClass("ca lang");
$("#id_name_fr, label[for='id_name_fr']").addClass("fr lang");
$("#id_name_en, label[for='id_name_en']").addClass("en lang");

    var $lb = $("#lang_button");


    var showing_all_languages = false;



    function setup_lang_display() {
        if (!showing_all_languages) {

            $lb.html(" <span class='glyphicon glyphicon-chevron-down'></span> Display all languages");
            $(".lang").hide();

            if (this_lang == 'oc') {
            $(".oc").show();
            }
            else if (this_lang == 'es') {
            $(".es").show();
            }
            else if (this_lang == 'ca') {
            $(".ca").show();
            }
            else if (this_lang == 'fr') {
            $(".fr").show();
            }
            else if (this_lang == 'en') {
            $(".en").show();
            }


        } else {
            $lb.html(" <span class='glyphicon glyphicon-chevron-down'></span> Display only your language");

            $(".lang").show();


        }

    }

    function toggle_langs() {
        showing_all_languages = !showing_all_languages;
        setup_lang_display();
    }


    setup_lang_display();

    $lb.on("click", toggle_langs);

    </script>

{% endblock %}