{% extends "frontulet/base.html" %}
{% load staticfiles %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}references{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">
            <h1>General References
            </h1>
            {% if scientist %}<a class="btn btn-default" href={% url 'new_general_reference' %}> <span class="glyphicon glyphicon-upload"></span>  <span class="glyphicon glyphicon-book"></span> </a>{% endif %}
        </div>

        {% for ref in references %}

<div class="row">

    <button onclick="toggle_iframe('ref_div{{ ref.id }}');" type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-down"></span>  <span class="glyphicon glyphicon-book"></span> {{ ref.name }}</button>

</div>

<div class="row">
<div class='ref_div' id='ref_div{{ ref.id }}'>
<div id='confirm_delete_reference_alert{{ ref.id }}' class='alert alert-warning' role='alert'><p><strong>Warning!</strong>Are you sure you want to delete this reference?</p><br><button onclick="hide_alert({{ ref.id }})" role="button" class='btn btn-success'>No, go back</button> <a class='btn btn-warning' href={% url 'delete_general_reference' ref.id %}>Yes, delete it</a></div>
<br>
    {% if scientist %}<a class="btn btn-default" href={% url 'edit_general_reference' ref.id %}> <span class="glyphicon glyphicon-edit"></span> </a> <button class="btn btn-default" onclick="confirm_delete_reference({{ ref.id }})"> <span class="glyphicon glyphicon-remove-circle"></span> </button>{% endif %}

              {{ ref.html | safe }}
</div>
</div>
<br>
{% endfor %}
            <div class="border-row"></div>

    </div>


{% endblock %}

{% block body_scripts %}

    {{ block.super }}
        <script type="text/javascript">

        $(".ref_div").hide();

        var show = true;

        function toggle_iframe(id) {
        if(show){$("#" + id).show();}else{$("#" + id).hide();}
            show = !show;
        }

        $("img").addClass("img-responsive center-block")


        $(".alert").hide();

    function confirm_delete_reference(ref_id){
        $("#confirm_delete_reference_alert" + ref_id).show();
    }

    function hide_alert(ref_id){
        $("#confirm_delete_reference_alert" + ref_id).hide();
    }


    </script>



{% endblock %}