{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}home{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">
            {% if request.user.is_authenticated %}
                {% if request.user.first_name %}
                    <h1>{% trans "welcome" %}, {{ request.user.first_name }}!
                        <small>{% trans "what_today" %}</small>
                    </h1>
                {% else %}
                    <h1>{% trans "welcome" %}
                        <small>{% trans "what_today" %}</small>
                    </h1>
                {% endif %}
            {% else %}
                <h1>{% trans "welcome_exclaimation" %}
                    <small>{% trans "what_today" %}</small>
                </h1>
            {% endif %}
        </div>

    <br>

            <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'make_new_route' %}>{% trans "home_add_route" %}</a>
            </div>
            <div class="col-md-8">{% trans "home_add_route_text" %}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_route_list_all' %}>{% trans "home_list_all_routes" %}</a>
            </div>
            <div class="col-md-8">{% trans "home_list_all_routes_text" %}</div>
        </div>
        <br>

        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'mine' %}>{% trans "List My Routes" %}</a>
                </div>
                <div class="col-md-8">{% trans "home_list_my_routes_text" %}</div>
            </div>

    <br>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'others' %}>{% trans "home_list_others_routes" %}</a>
                </div>
                <div class="col-md-8">{% trans "home_list_others_routes_text" %}</div>
            </div>
    <br>

        {% endif %}


        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'official' %}>{% trans "home_list_holets_routes" %}</a>
            </div>
            <div class="col-md-8">{% trans "home_list_holets_routes_text" %}</div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_map' %}>{% trans "home_consult_map" %}</a>
            </div>
            <div class="col-md-8">{% trans "home_consult_map_text" %}</div>
        </div>
        <br>

        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'show_profile' %}>{% trans "home_view_profile" %}</a>
                </div>
                <div class="col-md-8">{% trans "home_view_profile_text" %}</div>
            </div>


        {% else %}
            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'auth_register' %}>{% trans "Register" %}</a>
                </div>
                <div class="col-md-8">{% trans "Register your account. This will let you track your hikes and create your own routes." %}</div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'auth_login' %}>{% trans "home_login" %}</a>
                </div>
                <div class="col-md-8">{% trans "home_login_text" %}</div>
            </div>

        {% endif %}


    </div>


{% endblock %}