{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}home{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">
            {% if request.user.is_authenticated %}
                {% if request.user.first_name %}
                    <h1>{% trans "Welcome to Holet" %}, {{ request.user.first_name }}!
                        <small>{% trans "What would you like to do today?" %}</small>
                    </h1>
                {% else %}
                    <h1>{% trans "Welcome to Holet!" %}
                        <small>{% trans "What would you like to do today?" %}</small>
                    </h1>
                {% endif %}
            {% else %}
                <h1>{% trans "Welcome to Holet!" %}
                    <small>{% trans "What would you like to do today?" %}</small>
                </h1>
            {% endif %}
        </div>

    <br>

            <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'make_new_route' %}>{% trans "Add Route" %}</a>
            </div>
            <div class="col-md-8">{% trans "Add a new route using GPX files." %}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_route_list_all' %}>{% trans "List All Routes" %}</a>
            </div>
            <div class="col-md-8">{% trans "View a list of all routes." %}</div>
        </div>
        <br>

        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'mine' %}>List My Routes</a>
                </div>
                <div class="col-md-8">{% trans "View a list of the routes you have created on your own hikes." %}</div>
            </div>

    <br>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'others' %}>{% trans "List Other Hikers' Routes" %}</a>
                </div>
                <div class="col-md-8">{% trans "View a list of the routes others have created on their hikes." %}</div>
            </div>
    <br>

        {% endif %}


        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_route_list' 'official' %}>{% trans "List Holet's Routes" %}</a>
            </div>
            <div class="col-md-8">{% trans "View the routes created by the scientists behind Holet." %}</div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href={% url 'show_map' %}>{% trans "Consult Map" %}</a>
            </div>
            <div class="col-md-8">{% trans "View an interactive map of all routes." %}</div>
        </div>
        <br>

        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'show_profile' %}>{% trans "View My Profile" %}</a>
                </div>
                <div class="col-md-8">{% trans "View and edit your profile." %}</div>
            </div>


        {% else %}
            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'auth_register' %}>{% trans "Register" %}</a>
                </div>
                <div class="col-md-8">{% trans "Register your account. This will let you track your hikes and create your own routes." %}</div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">

                    <a class="btn btn-primary btn-block" href={% url 'auth_login' %}>{% trans "Log In" %}</a>
                </div>
                <div class="col-md-8">{% trans "Log in to view your data, is you already have an account." %}</div>
            </div>

        {% endif %}


    </div>


{% endblock %}