{% extends "frontulet/base.html" %}
{% load staticfiles %}

{% block head_additions %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "frontulet/carousel.css" %}>
{% endblock %}

{% block page_id %}home{% endblock %}

{% block main_body %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img alt="First slide" src={% static "frontulet/photos/2007-09-08_-_(09ax)_Capçalera_de_Caldes.jpg" %}>
          <div class="container">
            <div class="carousel-caption semitransparent-dark">
              <h1>Meet Erulet</h1>
              <p>Erulet is a figure from Aranese mythology. He is a gnome who lives hidden in the forests, representing the spirit of nature. And he comes to you now . . . in an app!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Second slide" src={% static "frontulet/photos/2007-09-08_-_(13x)_Estany_de_Mangades.jpg" %}>
          <div class="container">
            <div class="carousel-caption semitransparent-dark">
              <h1>Discover the waters of the Val d'Aran</h1>
              <p>Erulet will guide you along rivers and up to mountain lakes. He will teach your about the waters of his forest hideout.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Dive in</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Third slide" src={% static "frontulet/photos/2008-07-16_-_(10x)_Pòrt_de_Caldes_i_Circ_de_Colomèrs.jpg" %}>
          <div class="container">
            <div class="carousel-caption semitransparent-dark">
              <h1>Hike with a new kind of guide</h1>
              <p>Erulet will track your progress and notify you of sites along the way. Enjoy interactive multimedia created by scientists&#8212;and make it your own.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Start your adventure</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img alt="Generic placeholder image" style="width: 140px; height: 140px;" class="img-circle" src={% static "frontulet/icons/ic_erulet_marker.png" %}>
          <h2>Guided hikes</h2>
          <p>Erulet will guide you along trails in the Val d'Aran. Receive notifications and extra information when you are near points interest.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img alt="Generic placeholder image" style="width: 140px; height: 140px;" class="img-circle" src={% static "frontulet/icons/ic_launcher.png" %}>
          <h2>All about water</h2>
          <p>Learn about the rivers and lakes of the Val d'Aran. Erulet is packed with information from scientists who have been working here for years.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" alt="Generic placeholder image" style="width: 140px; height: 140px;" src={% static "frontulet/icons/ic_map_and_marker.png" %}>
          <h2>Personalized maps</h2>
          <p>Track your hikes and add your own photos, videos, and notes to the map. Keep these for your own use or share them with fellow hikers.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Garona Trail. <span class="text-muted">Learn all about the Val d'Aran's most important river.</span></h2>
          <p class="lead">Details about the route to be added along with photo to the right.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Lake Escunhau. <span class="text-muted">Explore a body of water that drains underground.</span></h2>
          <p class="lead">More to be added.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">More. <span class="text-muted">To be added.</span></h2>
          <p class="lead">Details...</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 John R.B. Palmer, Agustí Escobar, Frederic Bartumeus, Lluís Camarero, Jordi Catalan &middot; <a href="{% url "show_privacy_policy" %}">Privacy</a> &middot; <a href="http://github.com/MoveLab/erulet-server/blob/master/LICENSE.md">Terms</a></p><br>

          <p>Erulet is built from free and open source code. Check out our <a href="api">API</a> or fork us on <a href="http://github.com/MoveLab">Github</a>!</p>


          <p> Photo credits:</p>
          <p>"<a href="https://commons.wikimedia.org/wiki/File:2007-09-08_-_(09ax)_Cap%C3%A7alera_de_Caldes.JPG#mediaviewer/File:2007-09-08_-_(09ax)_Cap%C3%A7alera_de_Caldes.JPG">2007-09-08 - (09ax) Capçalera de Caldes</a>" by Josep Borrut - <span class="int-own-work">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a></p>
          <p>"<a href="https://commons.wikimedia.org/wiki/File:2007-09-08_-_(13x)_Estany_de_Mangades.JPG#mediaviewer/File:2007-09-08_-_(13x)_Estany_de_Mangades.JPG">2007-09-08 - (13x) Estany de Mangades</a>" by Josep Borrut - <span class="int-own-work">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a></p>
          <p>"<a href="https://commons.wikimedia.org/wiki/File:2008-07-16_-_(10x)_P%C3%B2rt_de_Caldes_i_Circ_de_Colom%C3%A8rs.jpg#mediaviewer/File:2008-07-16_-_(10x)_P%C3%B2rt_de_Caldes_i_Circ_de_Colom%C3%A8rs.jpg">2008-07-16 - (10x) Pòrt de Caldes i Circ de Colomèrs</a>" by Josep Borrut - <span class="int-own-work">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a>.</p>
      </footer>

    </div><!-- /.container -->

{% endblock %}
