{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_additions %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "frontulet/carousel.css" %}>

{% endblock %}

{% block page_id %}landing_page{% endblock %}

{% block main_body %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>

        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src={% static "frontulet/photos/frontpicture1.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "meet_holet" %}</h1>

                        <p>{% trans "lp_meet_holet_text" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "lp_learn_more" %}</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Second slide" src={% static "frontulet/photos/frontpicture2.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "lp_discover_waters" %}</h1>

                        <p>{% trans "lp_guide_along_rivers" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "dive_in" %}</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Third slide" src={% static "frontulet/photos/frontpicture3.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "lp_new_guide" %}</h1>

                        <p>{% trans "lp_sights_along_the_way" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "start_your_adventure" %}</a></p>
                    </div>
                </div>
            </div>


            <div class="item">
                <img alt="Fourth slide" src={% static "frontulet/photos/frontpicture4.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "meet_holet" %}</h1>

                        <p>{% trans "lp_meet_holet_text" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "lp_learn_more" %}</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Fifth slide" src={% static "frontulet/photos/frontpicture5.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "lp_discover_waters" %}</h1>

                        <p>{% trans "lp_guide_along_rivers" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "dive_in" %}</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Sixth slide" src={% static "frontulet/photos/frontpicture6.jpg" %}>

                <div class="container">
                    <div class="carousel-caption semitransparent-dark">
                        <h1>{% trans "lp_new_guide" %}</h1>

                        <p>{% trans "lp_sights_along_the_way" %}</p>

                        <p><a class="btn btn-lg btn-primary" href={% url "show_home" %} role="button">{% trans "start_your_adventure" %}</a></p>
                    </div>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img alt="Generic placeholder image" style="width: 100px; height: 100px;" class="img-circle"
                     src={% static "frontulet/icons/ic_erulet_marker.png" %}>

                <h2>{% trans "guided_hikes" %}</h2>

                <p>{% trans "lp_holet_will _guide_you" %}</p>
                {#        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img alt="Generic placeholder image" style="width: 100px; height: 100px;" class="img-circle"
                     src={% static "frontulet/icons/ic_launcher.png" %}>

                <h2>{% trans "all_about_water" %}</h2>

                <p>{% trans "lp_learn_about_rivers_and_lakes" %}</p>
                {#           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" alt="Generic placeholder image" style="width: 100px; height: 100px;"
                     src={% static "frontulet/icons/ic_map_and_marker.png" %}>

                <h2>{% trans "lp_personalized_maps" %}</h2>

                <p>{% trans "lp_track_and_record" %}</p>
                {#          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-top-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h4 class="featurette-heading">{% trans "lp_garona" %} <span class="text-muted">{% trans "lp_garona_short_text" %}</span>
                </h4>

                <p>{% trans "lp_garona_long_text" %}</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/1-garona.jpg" %}>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/2-escunhau.jpg" %}></div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{% trans "lp_escunhau" %} <span class="text-muted">{% trans "lp_escunhau_short_text" %}</span>
                </h2>

                <p>{% trans "lp_escunhau_long_text" %}</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{% trans "lp_pois" %} <span class="text-muted">{% trans "lp_pois_short_text" %}</span>
                </h2>

                <p>{% trans "lp_pois_long_text" %}</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/3-pois_horo.jpg" %}></div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/4-oles.jpg" %}>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{% trans "Bassa d’Oles." %} <span class="text-muted">{% trans "lp_oles_short_text" %}</span>
                </h2>

                <p>{% trans "lp_oles_long_text" %}</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{% trans "lp_redon" %} <span class="text-muted">{% trans "lp_redon_short_text" %}</span>
                </h2>

                <p>{% trans "lp_redon_long_text" %}</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/5-redon.jpg" %}></div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="border:solid" alt="Generic placeholder image"
                     src={% static "frontulet/photos/6-varrados.jpg" %}></div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{% trans "lp_varrados" %} <span class="text-muted">{% trans "lp_varrados_st" %}</span>
                </h2>

                <p>{% trans "lp_varrados_lt" %}</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer>


        <div class="footer-container">

            <p class="pull-right"><a href="#">{% trans "lp_back_to_top" %}</a></p>

            <div class="row border-row">

                <div class="col-md-3">
                    <a href="{% url "show_privacy_policy" %}">{% trans "privacy" %}</a> &middot;
                    <a href="http://github.com/MoveLab/erulet-server/blob/master/LICENSE.md">{% trans "terms" %}</a>
                </div>
                <div class="col-md-3">
                    {% trans "organitza" %}
                    <a href="http://www.vielha-mijaran.org/"><img src={% static 'frontulet/logos/footer/ajuntament_small.jpg' %}></a>
                </div>
                <div class="col-md-3">
                    {% trans "financa" %}
                    <a href="http://www.interreg-sudoe.eu/"><img src={% static 'frontulet/logos/footer/sudeu_small.jpg' %}></a>

                </div>
                <div class="col-md-3">
                </div>

            </div>
            <br>

            <p>{% trans 'lp_holet_is_FOSS' %}</p>

            <p>{% trans "content_by" %} <a href="http://www.loopweb.org/joomlaloop/index.php/homepage/people/103-luis-camarero">Lluís Camarero</a> &middot; {% trans "website_and_server_by" %} <a href="http://johnrbpalmer.com">John R.B. Palmer</a> &middot; {% trans "android_by" %} <a href="http://www.creaf.cat/en/personal/agust%C3%AD-escobar-r%C3%BAbies">Agustí Escobar Rúbies</a> and <a href="http://johnrbpalmer.com">John R.B. Palmer</a> &middot; {% trans "html5_by" %} <a href="http://wuyingren.github.io/">Jordi López</a> &middot; {% trans "ios_by" %} <a href="http://www.omatech.com/">Omatech</a></p>

            <p>&copy; 2014 {% trans "holet_team" %}</p>

                <a href="http://www.loopweb.org"><img height="50px" class="center" src="{% static "frontulet/logos/logoLOOP.png" %}"></a>

                   <a href="http://movelab.net"><img width=180px src={% static 'frontulet/logos/footer/movelab_small.jpg' %}></a>
                    <a href="http://www.creaf.cat"><img width=180px src={% static 'frontulet/logos/footer/ceab-uab-creaf_small.jpg' %}></a>

                        <p class="pull-right"><a href="http://www.sudeau.eu/"><img src={% static 'frontulet/logos/footer/SUDEAU2_small.jpg' %}></a></p>

            </div>
    </footer>



{% endblock %}

{% block body_scripts %}
{{ block.super }}

 <script>
  $('.carousel').carousel({
   interval: 8000
  });
 </script>

{% endblock %}