{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
{% endblock %}


{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

<style>
ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}
li.image_bullet {
min-height: 70px;
padding-left: 55px;
}

.poi {
background: url({% static 'frontulet/icons/manual/point_of_interest.png' %}) no-repeat left top;
}
.waypoint {
background: url({% static 'frontulet/icons/manual/waypoint.png' %}) no-repeat left top;
}
.holet_alert {
background: url({% static 'frontulet/icons/manual/alert.png' %}) no-repeat left top;
}
.stop {
background: url({% static 'frontulet/icons/manual/stop.png' %}) no-repeat left top;
}
.add_info {
background: url({% static 'frontulet/icons/manual/add_info.png' %}) no-repeat left top;
}
.compass {
background: url({% static 'frontulet/icons/manual/compass.png' %}) no-repeat left top;
}
.where {
background: url({% static 'frontulet/icons/manual/where.png' %}) no-repeat left top;
}


</style>

{% endblock %}


{% block body_property_extras %}role="document"{% endblock %}


{% block main_body %}

            <div class="starter-template" style="position:relative">

        <div class="container theme-showcase" role="main">

        <div id="page_title" class="page-header">
<h1>{% trans "Manual" %}</h1>
           </div>


<h3>{{ main_page_title }}</h3>

{{ main_page_text | safe}}

    <h3>{{ select_itineraries_title }}</h3>

{{ select_itineraries_text | safe}}

<h3>{{ itineraries_title }}</h3>

{{ itineraries_text | safe }}

    <h3>{{ buttons_title }}</h3>

{{ buttons_text | safe }}

        </div>
            </div>
{% endblock %}