{% extends "frontulet/before_leaving_ca.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
{% endblock %}
{% block fa_css %}
{% endblock %}
{% block frontulet_css %}
{% endblock %}
{% block fallback_bs_js %}
{% endblock %}



{% block head_additions %}

    <style>
        ul.no_bullet {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li.image_bullet {
            min-height: 70px;
            padding-left: 55px;
            padding-top: 15px;
        }

        .poi {
            background: url({% static 'frontulet/icons/manual/point_of_interest.png' %}) no-repeat left top;
        }

        .waypoint {
            background: url({% static 'frontulet/icons/manual/waypoint.png' %}) no-repeat left top;
        }

        .holet_alert {
            background: url({% static 'frontulet/icons/manual/alert.png' %}) no-repeat left top;
        }

        .stop {
            background: url({% static 'frontulet/icons/manual/stop.png' %}) no-repeat left top;
        }

        .add_info {
            background: url({% static 'frontulet/icons/manual/add_info.png' %}) no-repeat left top;
        }

        .compass {
            background: url({% static 'frontulet/icons/manual/compass.png' %}) no-repeat left top;
        }

        .where {
            background: url({% static 'frontulet/icons/manual/where.png' %}) no-repeat left top;
        }


    </style>


{% endblock %}


{% block body_property_extras %}{% endblock %}

{% block navbar %}
{% endblock %}

{% block main_body %}
    <div style="width:90%; margin: 0 auto;">
        <h1>{% trans "Manual" %}</h1>


        <h3>{{ main_page_title }}</h3>

{{ main_page_text | safe}}

        <h3>{{ select_itineraries_title }}</h3>

{{ select_itineraries_text | safe}}

        <h3>{{ itineraries_title }}</h3>

{{ itineraries_text | safe }}

        <h3>{{ buttons_title }}</h3>

{{ buttons_text | safe }}

    </div>
{% endblock %}

{% block body_scripts %}

{% endblock %}