{% extends "frontulet/map.html" %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block head_additions %}
{{ block.super }}

      <style>
       .leaflet-container {  /* all maps */
            width:  100%;
            height: 100%;
       }
       </style>

    <style>
        table {
            border-collapse: collapse;
            font-size: small;
        }

        table, td, th {
            border: 1px solid black;
        }

        td {
            padding: 5px;
            vertical-align: top;
            text-align: right;
        }


    </style>

    <script type="text/javascript">

        function map_init_basic(map, options) {

            map.on('zoomend', function (e) {
                saveMapState(map)
            });
            map.on('dragend', function (e) {
                saveMapState(map)
            });


            var colors = ['red', 'yellow', 'blue', 'green', 'purple', 'orange'];

            var color_counter = 0;

            {% for route in routes %}

                var these_latlngs = [];

                {% for step in route.track.steps.all %}

                    these_latlngs[these_latlngs.length] = [{{  step.latitude }}, {{ step.longitude }}];

                {% endfor %}

                var polyline = L.polyline(these_latlngs, {weight: 5, opacity: 1, color: 'black'}).addTo(map);
                var polyline = L.polyline(these_latlngs, {weight: 2, opacity: 1, color: colors[color_counter % colors.length]}).addTo(map);

                color_counter++;

            {% endfor %}

        }

    </script>


{% endblock %}


