{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block language %}"ca"{% endblock %}
{% block encoding %}<meta http-equiv="Content-Type" content="text/html" />{% endblock %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>

    <script src="{% static "frontulet/map_scripts.js" %}"></script>

    {% leaflet_js %}
    {% leaflet_css %}


    <script type="text/javascript">

        var wp_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "frontulet/icons/map_markers/ic_marker_wp.png" %}'
            }
        });

        var poi_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "frontulet/icons/map_markers/ic_marker_poi.png" %}'
            }
        });

        var wp_icon = new wp_icon_class;
        var poi_icon = new poi_icon_class;


        var poi_markers = new L.LayerGroup();
        var wp_markers = new L.LayerGroup();

        var these_latlngs = [];

        {% for step in steps %}

            {% if step.order %}

                these_latlngs[these_latlngs.length] = [{{  step.latitude }}, {{ step.longitude }}];

            {% else %}

                {% for highlight in step.highlights.all %}


                    {% if highlight.0.type == 1 %}

                        wp_markers.addLayer(L.marker([{{ step.latitude }}, {{ step.longitude }}], {icon: wp_icon}));

                    {% elif highlight.0.type == 0 %}

                        poi_markers.addLayer(L.marker([{{ step.latitude }}, {{ step.longitude }}], {icon: poi_icon}));


                    {% endif %}

                {% endfor %}

            {% endif %}


        {% endfor %}

        function map_init_basic(map, options) {

            L.polyline(these_latlngs, {weight: 5, opacity: 1, color: 'black'}).addTo(map);
            L.polyline(these_latlngs, {weight: 2, opacity: 1, color: 'red'}).addTo(map);

            var bounds = new L.LatLngBounds(these_latlngs);
            map.fitBounds(bounds);

            wp_markers.addTo(map);
            poi_markers.addTo(map);

        }

    </script>

    <script language="javascript" type="text/javascript">
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>


{% endblock %}


{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}routes{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>{{ name }}
                <small>{{ short_description }} </small>
                {% if owner %}<a class="btn btn-default" href={% url "edit_route" id %} role="button">
                    <span class="glyphicon glyphicon-pencil"></span> </a>{% endif %}</h1>
            <p>{{ description }}</p>

            {% if has_reference %}
                <button onclick="toggle_iframe('main_ref_div');" type="button" class="btn btn-primary">View Detailed Reference</button>
                {% if owner %}<a class="btn btn-default" href={% url 'edit_route_reference' id %}> <span
                        class="glyphicon glyphicon-upload"></span> Replace Detailed Reference</a>{% endif %}
            {% elif owner %}
                {% if owner %}<a class="btn btn-default" href={% url 'make_new_route_reference' id %}> <span
                        class="glyphicon glyphicon-upload"></span> Add Detailed Reference</a>{% endif %}

            {% endif %}

        </div>

        {% if has_reference %}

              <div class='ref_div' id='main_ref_div'>
              {{ reference_html | safe }}
              <br>
              </div>
        {% endif %}


        <div id="erulet_map" class="route_map-container"></div>
        <br>

        {% for highlight in these_highlights %}

            <script>
                eval("function map_init_highlight{{ highlight.0.id }}(map, options) {L.polyline(these_latlngs, {weight: 5, opacity: 1, color: 'black'}).addTo(map);L.polyline(these_latlngs, {weight: 2, opacity: 1, color: 'red'}).addTo(map);L.marker([{{ highlight.0.step.latitude }}, {{ highlight.0.step.longitude }}],{icon:{% if highlight.0.type == 0 %}poi_icon{% else %}wp_icon{% endif %}}).addTo(map);map.setView([{{ highlight.0.step.latitude }}, {{ highlight.0.step.longitude }}], 18)}");
            </script>

            <br>
            <div class="row">

                <div class="col-md-4">
                    <h3>{{ highlight.0.name }} {% if owner %}
                        <a class="btn btn-default" href={% url "edit_highlight" id highlight.0.id %} role="button">
                        <span class="glyphicon glyphicon-pencil"></span> </a>{% endif %}</h3>

                    <p>{{ highlight.0.long_text }}</p>


                {% for ref in highlight.1 %}

                <button onclick="toggle_iframe('ref_div{{ highlight.0.id }}');" type="button" class="btn btn-primary">View Detailed Reference</button>
                {% if owner %}<a class="btn btn-default" href={% url 'edit_highlight_reference' id highlight.0.id %}> <span
                        class="glyphicon glyphicon-upload"></span> Replace Detailed Reference</a>{% endif %}


            <div class='ref_div' id='ref_div{{ highlight.0.id }}'>
              {{ ref | safe }}
              <br>
              </div>


                          {% endfor %}

  <p>testing {{ highlight.1.length }}</p>

                {% if owner %}<a class="btn btn-default" href={% url 'make_new_highlight_reference' id highlight.0.id %}> <span
                        class="glyphicon glyphicon-upload"></span> Add Detailed Reference</a>{% endif %}




                </div>

                <div class="col-md-4">
                    {% if highlight.0.image %}
                        <a href={{ highlight.0.media.url }}><img width=100% src={{ highlight.0.media.url }}></a>
                    {% elif highlight.0.media_ext == 'mp4' %}
                        <video width="100%" height="100%" controls>
                            <source type="video/mp4" src={{ highlight.0.media.url }}>
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}

                </div>

                <div class="col-md-4">
                    <div id="highlight{{ highlight.0.id }}" class="highlight-container"></div>
                </div>

            </div>
            <br>
        {% endfor %}

    </div>

{% endblock %}

{% block body_scripts %}

    <script type="text/javascript">
        (function () {
            function loadmap() {
                var centerLat = 42.7042;
                var centerLng = 0.7961;
                var initialZoom = 6;
                var djoptions = {"layers": [
                            ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                        ],
                            "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                            "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                [-90,
                                    -180],
                                [90,
                                    180]
                            ], "resetview": true, "srid": null, "fitextent": true},
                        options = {djoptions: djoptions, initfunc: loadmap,
                            globals: false, callback: window.map_init_basic};
                L.Map.djangoMap('erulet_map', options);

                {% for highlight in these_highlights %}
                    L.Map.djangoMap('highlight{{ highlight.0.id }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_highlight{{ highlight.0.id }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();
    </script>


    {{ block.super }}

    <script type="text/javascript">

        $(".ref_div").hide();

        var show = true;

        function toggle_iframe(id) {
        if(show){$("#" + id).show();}else{$("#" + id).hide();}
            show = !show;
        }
    </script>



{% endblock %}