{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}

{% block language %}"ca"{% endblock %}
{% block encoding %}<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />{% endblock %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>

    <script src="{% static "frontulet/map_scripts.js" %}"></script>

    {% leaflet_js %}
    {% leaflet_css %}


    <script src="{% static "frontulet/jquery/1.11.1/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "frontulet/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<link href="{% static "frontulet/bootstrap-star-rating/css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css" />
    <script src="{% static "frontulet/bootstrap-star-rating/js/star-rating.min.js" %}" type="text/javascript"></script>


    <script type="text/javascript">

        var wp_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "frontulet/icons/map_markers/ic_marker_wp.png" %}'
            }
        });

        var poi_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "frontulet/icons/map_markers/ic_marker_poi.png" %}'
            }
        });

        var alert_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "frontulet/icons/map_markers/ic_marker_alert.png" %}'
            }
        });

        var wp_icon = new wp_icon_class;
        var poi_icon = new poi_icon_class;
        var alert_icon = new alert_icon_class;



        var poi_markers = new L.LayerGroup();
        var wp_markers = new L.LayerGroup();
        var alert_markers = new L.LayerGroup();

        var these_latlngs = [];

        var popup_text;

        var popup_options ={
        'maxWidth': '450',
        'minWidth': '450',
        'maxHeight': '600',
        'minHeight': '600',
        'closeButton': false
        };

        var small_popup_options ={
        'maxWidth': '200',
        'minWidth': '200',
        'maxHeight': '300',
        'minHeight': '300',
        'closeButton': false,
         'autoPan': true
        };

        {% for step in steps %}

            {% if step.order %}

                these_latlngs[these_latlngs.length] = [{{  step.latitude }}, {{ step.longitude }}];

            {% endif %}


        {% endfor %}

                        {% for highlight in these_highlights %}

                popup_text = '{% if highlight.media %}{% if highlight.image %}<a href={{ highlight.media.url }}><img style="max-width:100% !important; max-height:100%;" src={{ highlight.media.url }}></a>{% elif highlight.video %}<video height="100%" width="100%" controls><source type="video/{{ highlight.media_ext }}" src={{ highlight.media.url }}>{% trans "Your browser does not support the video tag." %}</video>{% endif %}{% endif %}<p>{{ highlight.long_text }}</p>';

                    {% if highlight.type == 1 %}

                        wp_markers.addLayer(L.marker([{{ highlight.step.latitude }}, {{ highlight.step.longitude }}], {icon: wp_icon}).bindPopup(popup_text, popup_options));

                    {% elif highlight.type == 0 %}

                        poi_markers.addLayer(L.marker([{{ highlight.step.latitude }}, {{ highlight.step.longitude }}], {icon: poi_icon}).bindPopup(popup_text, popup_options));

                    {% elif highlight.type == 2 %}

                        alert_markers.addLayer(L.marker([{{ highlight.step.latitude }}, {{ highlight.step.longitude }}], {icon: alert_icon}).bindPopup(popup_text, popup_options));


                    {% endif %}

                {% endfor %}


        function map_init_basic(map, options) {

            L.polyline(these_latlngs, {weight: 5, opacity: 1, color: 'black'}).addTo(map);
            L.polyline(these_latlngs, {weight: 2, opacity: 1, color: 'red'}).addTo(map);

            var bounds = new L.LatLngBounds(these_latlngs);
            map.fitBounds(bounds);

            wp_markers.addTo(map);
            poi_markers.addTo(map);
            alert_markers.addTo(map);

        }

    </script>

    <script language="javascript" type="text/javascript">
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>


{% endblock %}


{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}routes{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">

        <div class="page-header">

                      <div id='confirm_delete_route_alert' class='alert alert-warning' role='alert'><p><strong>{% trans "warning" %}</strong>{% trans "warning_confirm_delete_route" %}</p><br><button onclick="hide_alert()" role="button" class='btn btn-success'>{% trans "no_go_back" %}</button> <a class='btn btn-warning' href={% url 'delete_route' id %}>{% trans "yes_delete_it" %}</a></div>
            <h1>{{ name }}
                <small>{{ short_description }} </small>
                {% if owner %}<a class="btn btn-default btn-sm" href={% url "edit_route" id %} role="button">
                    <span class="glyphicon glyphicon-edit"></span> </a> <button class="btn btn-default" onclick="confirm_delete_route()"> <span class="glyphicon glyphicon-remove-circle"></span> </button> <a class="btn btn-default" href={% url 'make_new_route_reference' id %}> <span class="glyphicon glyphicon-upload"></span>  <span class="glyphicon glyphicon-book"></span> </a>{% endif %}</h1>

        {% if average_rating >= 0 and total_ratings > 0 %}
            <p><strong>{% trans "average_rating" %} {{ average_rating|floatformat }}</strong> ({{ total_ratings }} {% if total_ratings == 1 %}{% trans "vote" %}{% else %}{% trans "votes" %}{% endif %})</p>
        {% endif %}

        {% if request.user.is_authenticated %}
               <form class="form-inline" role="form" method="post" id="route_rating_form">
  <div class="form-group">
    <div class="input-group">
<input id="route_stars" type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-show-clear="false" data-show-caption="false" value="{{ user_route_rating }}">
    </div>
  </div>
  <button type="button" onclick="submit_rating(event)" class="btn btn-primary btn-sm">{% trans "Rate it!" %}</button>
  <div id="route_rating_alert" style="display:none;">sent!</div>
</form>

        {% endif %}

            <p>{{ description }}</p>

            {% if has_reference %}
                <button onclick="toggle_iframe('main_ref_div');" type="button" class="btn btn-primary">{% trans "View Detailed Reference" %}</button>

            {% endif %}

        </div>

        {% if has_reference %}

              <div class='ref_div' id='main_ref_div'>

              <div id='confirm_delete_reference_alert_main' class='alert alert-warning' role='alert'><p><strong>{% trans "warning " %}</strong>{% trans "sure_delete_ref_q" %}</p><br><button onclick="hide_alert_by_id('_main')" role="button" class='btn btn-success'>{% trans "no_go_back" %}</button> <a class='btn btn-warning' href={% url 'delete_route_reference' id %}>{% trans "yes_delete_it" %}</a></div>
<br>
    {% if owner %}<a class="btn btn-default" href={% url 'edit_route_reference' id %}> <span class="glyphicon glyphicon-edit"></span> </a> <button class="btn btn-default" onclick="confirm_delete_reference('_main')"> <span class="glyphicon glyphicon-remove-circle"></span> </button>{% endif %}

              {{ reference_html | safe }}
              <br>
              </div>
        {% endif %}


        <div id="erulet_map" class="route_map-container"></div>
        <br>

            <div class="border-row"></div>

        {% for highlight in these_highlights %}

            <script>


                eval("function map_init_highlight{{ highlight.id }}(map, options) {L.polyline(these_latlngs, {weight: 5, opacity: 1, color: 'black'}).addTo(map);L.polyline(these_latlngs, {weight: 2, opacity: 1, color: 'red'}).addTo(map);L.marker([{{ highlight.step.latitude }}, {{ highlight.step.longitude }}],{icon:{% if highlight.type == 0 %}poi_icon{% elif highlight.type == 1 %}wp_icon{% else %}alert_icon{% endif %}}).bindPopup('{% if highlight.media %}{% if highlight.image %}<a href={{ highlight.media.url }}><img style=\"max-width:100% !important; max-height:100%;\" src={{ highlight.media.url }}></a>{% elif highlight.video %}<video height=\"100%\" width=\"100%\" controls><source type=\"video/{{ highlight.media_ext }}\" src={{ highlight.media.url }}>Your browser does not support the video tag.</video>{% endif %}{% endif %}<p>{{ highlight.long_text }}</p>', small_popup_options).addTo(map);map.setView([{{ highlight.step.latitude }}, {{ highlight.step.longitude }}], 18)}");
            </script>

            <br>

            <div class="row">

            <div class="col-md-12">
                <h3>{{ highlight.name }}</h3>
                    {% if highlight.average_rating >= 0 and highlight.total_ratings > 0 %}
            <p><strong>{% trans "average_rating" %} {{ highlight.average_rating|floatformat }}</strong> ({{ highlight.total_ratings }} {% if highlight.total_ratings == 1 %}{% trans "vote" %}{% else %}{% trans "votes" %}{% endif %})</p>
        {% endif %}

                    {% if request.user.is_authenticated %}
   <form class="form-inline" role="form">
  <div class="form-group">
    <div class="input-group">
<input id="highlight_stars" type="number" class="rating" min=0 max=5 step=1 data-size="sm" data-show-clear="false" data-show-caption="false" value="{{ highlight.user_rating }}">
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-sm">{% trans "Rate it!" %}</button>
</form>

        {% endif %}


                {% for ii in highlight.interactive_images %}

    <a href="{% url 'view_ii' ii.id %}" type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-picture"></span>
</a>

        {% endfor %}



                    {% if owner %}
                        <a class="btn btn-default" href={% url "edit_highlight" id highlight.id %} role="button"> <span class="glyphicon glyphicon-edit"></span> </a> <a class="btn btn-default" href={% url 'make_new_highlight_reference' id highlight.id %}> <span class="glyphicon glyphicon-upload"></span>  <span class="glyphicon glyphicon-book"></span> </a> <a class="btn btn-default" href={% url 'create_ii' highlight.id %}> <span class="glyphicon glyphicon-upload"></span>  <span class="glyphicon glyphicon-picture"></span> </a>{% endif %}

            </div>

            </div>

            <div id="h{{ highlight.id }}" class="row">

                <div class="col-md-6">

<div class='highlight-info-container' id='ref_div{{ ref.id }}'>

{% if highlight.references|length_is:"0" %}



                {% if highlight.media %}
                                        <div class="highlight-media-container">

<div id='confirm_delete_highlight_alert{{ highlight.id }}' class='alert alert-warning' role='alert'><p><strong>{% trans "warning" %}</strong>{% trans "sure_delete_highlight_media_q" %}</p><br><button onclick="hide_highlight_alert_by_id({{ highlight.id }})" role="button" class='btn btn-success'>{% trans "no_go_back" %}</button> <a class='btn btn-warning' href={% url 'delete_highlight_media' id highlight.id %}>{% trans "yes_delete_it" %}</a></div>

    {% if owner %}<button class="btn btn-default" onclick="confirm_delete_highlight({{ highlight.id }})"> <span class="glyphicon glyphicon-remove-circle"></span> </button>{% endif %}



                    {% if highlight.image %}
                      <a href={{ highlight.media.url }}><img style="max-width:100%; max-height:100%;" src={{ highlight.media.url }}></a>
                    {% elif highlight.video %}
                        <video height="100%" width="100%" controls>
                            <source type="video/{{ highlight.media_ext }}" src={{ highlight.media.url }}>
                            {%  trans "no_video_browser" %}
                        </video>
                    {% endif %}
                    </div>
                {% endif %}
                                    <p>{{ highlight.long_text }}</p>



    {% else %}


                            {% for ref in highlight.references %}

<div id='confirm_delete_reference_alert{{ ref.id }}' class='alert alert-warning' role='alert'><p><strong>{% trans "warning" %}</strong>{% trans "sure_delete_ref_q" %}</p><br><button onclick="hide_alert_by_id({{ ref.id }})" role="button" class='btn btn-success'>{% trans "no_go_back" %}</button> <a class='btn btn-warning' href={% url 'delete_highlight_reference' id ref.id %}>{% trans "yes_delete_it" %}</a></div>

    {% if owner %}<a class="btn btn-default" href={% url 'edit_highlight_reference' id ref.id %}> <span class="glyphicon glyphicon-edit"></span> </a> <button class="btn btn-default" onclick="confirm_delete_reference({{ ref.id }})"> <span class="glyphicon glyphicon-remove-circle"></span> </button>{% endif %}

              {{ ref.html | safe }}
<br>
{% endfor %}


{% endif %}

</div>


                </div>


                <div class="col-md-6">
                    <div id="highlight{{ highlight.id }}" class="highlight-map-container"></div>
                </div>

            </div>

            <br>

            <div class="border-row"></div>


        {% endfor %}

    </div>


{% endblock %}

{% block body_scripts %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "frontulet/bootstrap-3.2.0-assets/js/docs.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "frontulet/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>

    <script type="text/javascript">
        (function () {
            function loadmap() {
                var centerLat = 42.7042;
                var centerLng = 0.7961;
                var initialZoom = 6;
                var djoptions = {"layers": [
                            ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                        ],
                            "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                            "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                [-90,
                                    -180],
                                [90,
                                    180]
                            ], "resetview": true, "srid": null, "fitextent": true},
                        options = {djoptions: djoptions, initfunc: loadmap,
                            globals: false, callback: window.map_init_basic};
                L.Map.djangoMap('erulet_map', options);

                {% for highlight in these_highlights %}
                    L.Map.djangoMap('highlight{{ highlight.id }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_highlight{{ highlight.id }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();
    </script>




    <script type="text/javascript">

        $(".ref_div").hide();

        var show = true;

        function toggle_iframe(id) {
        if(show){$("#" + id).show();}else{$("#" + id).hide();}
            show = !show;
        }

        $("img").addClass("img-responsive center-block")


        $(".alert").hide();

    function confirm_delete_reference(ref_id){
        $("#confirm_delete_reference_alert" + ref_id).show();
    }

    function hide_alert_by_id(ref_id){
        $("#confirm_delete_reference_alert" + ref_id).hide();
    }

            function confirm_delete_highlight(highlight_id){
        $("#confirm_delete_highlight_alert" + highlight_id).show();
    }

    function hide_highlight_alert_by_id(highlight_id){
        $("#confirm_delete_highlight_alert" + highlight_id).hide();
    }



    function confirm_delete_route(){
        $("#confirm_delete_route_alert").show();
    }

    function hide_alert(){
        $("#confirm_delete_route_alert").hide();
    }


    // fixing bootstrap margins on references
    $(".highlight-info-container").find(':header').css('margin', '0px');



    // ratings

    function suppress(event) {
    if (!event)
        return false;
    if (event.preventDefault)
        event.preventDefault();
    if (event.stopPropagation)
        event.stopPropagation();
    if (event.cancelBubble)
        event.cancelBubble = true;
    return false;
}


    function submit_rating(event) {
        var this_rating = $("#route_stars").val();
        $.ajax({
            type: 'post',
            url: 'http://holet.movelab.net/api/my_ratings/',
            contentType: 'application/json',
            dataType: 'json',
            async: true,
            headers: {
                'Authorization': 'Token {{ request.user.auth_token.key }}'
            },
            data: {
                'rating': this_rating,
                'route': {{ id }}
            },
            success: function (data) {
                $('#route_rating_alert').fadeIn(400).delay(3000).fadeOut(400);
            }
        });
        return suppress(event);
    }

    </script>



{% endblock %}