{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}routes{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">
            <h1>{% trans "survey_results" %}
            </h1>
        </div>


        {% for question in questions %}

            <h3>{{ question.question| safe }}</h3>
            <p>{% trans "average_response:" %} {{ question.average_response |floatformat }}</p>
            <p>{% trans "minimum_response:" %} {{ question.min_response }}</p>
            <p>{% trans "maximum_response:" %} {{ question.max_response }}</p>
            <p>{% trans "response_standard_deviation:" %} {{ question.sd_responses|floatformat }}</p>
            <p>{% trans "number_of_responses:" %} {{ question.total_responses }}</p>

        {% endfor %}


    </div>


{% endblock %}