{% extends "frontulet/mobile_base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block head_content %}

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

{% endblock %}


{% block body_content %}

<div data-role="page" data-highlight="true">

	<div data-role="header"><h1>{% trans 'eth_holet_survey' %}</h1>
</div>


<div role="main" class="ui-content">

<h4>{% trans "survey_intro" %}</h4>

<br><div class="border-row"></div><div class="border-row"></div><div class="border-row"></div><br>

<form method="post" action="#">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <h3>{% if lang == 'es' %}{{ form.initial.question.question_es | safe }}{% elif lang == 'ca' %}{{ form.initial.question.question_ca| safe }}{% elif lang == 'fr' %}{{ form.initial.question.question_fr| safe }}{% elif lang == 'en' %}{{ form.initial.question.question_en| safe | safe }}{% else %}{{ form.initial.question.question_oc | safe }}{% endif %}</h3>
        {{ form.as_p }}
          <br><div class="border-row"></div><div class="border-row"></div><div class="border-row"></div><br>
    {% endfor %}
          <input type="submit" value="{% trans "submit" %}"/>
</form>

</div>

</div>

{% endblock %}

