{% extends "frontulet/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href={% static "frontulet/form_style.css" %}>

    <link rel="stylesheet" href={% static "frontulet/route_detail_style.css" %}>


{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}routes{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">


        <div class="page-header">
            <h1>{% trans "survey_results" %}
            </h1>
        </div>


        {% for question in questions %}

            <div class="row">
            <div class="col-lg-12">
            <h3>{{ question.question| safe }}</h3>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-6">
            <h4 style="text-align: right;"><span style="color:grey;">{% trans "average_response:" %}</span> <span style="color:red;">{{ question.average_response |floatformat }}</span></h4>
            </div>
            <div class="col-lg-6">
            <h4><span style="color:grey;">{% trans "number_of_responses:" %}</span> <span style="color:red;">{{ question.total_responses }}</span></h4>
            </div>
            </div>

                      <br><div class="border-row"></div><div class="border-row"></div><div class="border-row"></div><br>

        {% endfor %}


    </div>


{% endblock %}