{% extends "frontulet/base.html" %}
{% load staticfiles %}

{% block head_additions %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "frontulet/ii_style.css" %}>

{% endblock %}

{% block navbar %}
{% endblock %}

{% block main_body %}
    <div class="container-fluid">
        <div id="page_title" class="page-header">
            {% block title %}
                                <h1>Interactive Image
            <small>Drag mouse over photo and click on the colored areas that appear.</small>
                </h1>{% endblock %}
       </div>



    <div id="outer_container">

                <div id="view_alert_message" class="alert alert-info alert-dismissible" role="alert"></div>
                <img id="photo" src={{ image_url }}>
                <canvas height={{ original_height }} width={{ original_width }} id="view_canvas_background"></canvas>
                <canvas height={{ original_height }} width={{ original_width }} id="view_canvas"></canvas>

    </div>

                      <a href="#" id="back-button" class="btn"> <span class="glyphicon glyphicon-hand-left"></span> Back to route</a>


    </div>


{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script>
    var canvas = document.getElementById('view_canvas'),
            ctx = canvas.getContext('2d'),
            canvas_background = document.getElementById('view_canvas_background'),
            ctxb = canvas_background.getContext('2d'),
            anybox = false,
            alertup = false;

    $alert = $("#view_alert_message");
    $alert.hide();

var window_width=window.innerWidth
|| document.documentElement.clientWidth
|| document.body.clientWidth;

var window_height=window.innerHeight
|| document.documentElement.clientHeight
|| document.body.clientHeight;

var display_width = Math.min(.97* window_width, {{ original_width }});
var sf = display_width/{{ original_width }};
var display_height = sf*{{ original_height }};

$("#outer_container").width(display_width).height(display_height);
$("#photo").width(display_width).height(display_height);
$alert.width(display_width);
canvas.style.width = display_width + "px";
canvas.style.height = display_height + "px";
canvas_background.style.width = display_width + "px";
canvas_background.style.height = display_height + "px";


    function isPointInsideRect(pointX, pointY, rectX, rectY, rectWidth, rectHeight) {
        return  (rectX <= pointX) && (rectX + rectWidth >= pointX) &&
                (rectY <= pointY) && (rectY + rectHeight >= pointY);
    }


    function drawAreas(){
        ctxb.fillStyle = 'rgba(0, 0, 255, .3)';
        {% for box in boxes %}
            ctxb.fillRect({{ box.box.min_x }}, {{ box.box.min_y }}, {{ box.box.max_x }}-{{ box.box.min_x }}, {{ box.box.max_y }}-{{ box.box.min_y }});
        {% endfor %}
    }

    drawAreas();

    function draw(rectX, rectY, rectWidth, rectHeight){
                if(!alertup){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.fillStyle = 'rgba(0, 0, 255,.3)';
        ctx.fillRect(rectX, rectY, rectWidth, rectHeight);
        ctx.beginPath();
        ctx.strokeStyle = "#00FFFF";
        ctx.lineWidth = 2;
        ctx.rect(rectX, rectY, rectWidth, rectHeight);
        ctx.stroke();
        canvas.style.cursor = "context-menu";
    }
    }

    function erase(){
        if(!alertup){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.style.cursor = "default";
    }
    }

    function dismiss_alert(){
            $alert.hide();
            alertup = false;
    }

    function display_alert(e) {

        if (alertup) {
            $alert.hide();
            alertup = false;
        } else {
        var this_x, this_y, this_width, this_height;
            {% for box in boxes %}
                this_x = {{ box.box.min_x }};
                this_y = {{ box.box.min_y }};
                this_width = ({{ box.box.max_x }}-{{ box.box.min_x }});
                this_height = ({{ box.box.max_y }}-{{ box.box.min_y }});

                if (isPointInsideRect((e.pageX - (this.offsetLeft + this.offsetParent.offsetLeft)), (e.pageY - (this.offsetTop + this.offsetParent.offsetTop)), this_x, this_y, this_width, this_height)){

                $alert.show().html(" <button type='button' class='close' onclick='dismiss_alert();'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>{{ box.message | safe }}");
            canvas.style.cursor = "context-menu";
            }
            {% endfor %}
        canvas.style.cursor = "context-menu";
            alertup = true;
        }
    }

    function init() {
        canvas.addEventListener('mousemove', mouseMove, false);
        canvas.addEventListener('click', display_alert, false);
    }

    function mouseMove(e) {
        anybox = false;
        {% for box in boxes %}
                this_x = {{ box.box.min_x }};
                this_y = {{ box.box.min_y }};
                this_width = ({{ box.box.max_x }}-{{ box.box.min_x }});
                this_height = ({{ box.box.max_y }}-{{ box.box.min_y }});
                if (isPointInsideRect((e.pageX - (this.offsetLeft + this.offsetParent.offsetLeft)), (e.pageY - (this.offsetTop + this.offsetParent.offsetTop)), this_x, this_y, this_width, this_height)){
                    draw({{ box.box.min_x }},{{ box.box.min_y }}, {{ box.box.max_x }}-{{ box.box.min_x }}, {{ box.box.max_y }}-{{ box.box.min_y }});
                    anybox = true;
                 }
        {% endfor %}

        if (!anybox) {
            erase();
        }

    }

    init();



    </script>

{% endblock %}

