{% extends "rest_framework/base.html" %}

{% block title %}
        Erulet Server
{% endblock %}

{% block branding %}
        <a class='brand' rel="nofollow" href='/api'>Erulet API</a>
{% endblock %}

{% block userlinks %}
            <li><a href={% url 'show_home'  %}><span style="color:#269abc;">Return to Erulet Frontend</span></a></li>

                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nested Access Points
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="/api/nested_routes/">Routes</a></li>
        <li><a href="/api/nested_tracks/">Tracks</a></li>
</ul>
    </li>

                                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flat Access Points
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="/api/routes/">Routes</a></li>
        <li><a href="/api/tracks/">Tracks</a></li>
        <li><a href="/api/steps/">Steps</a></li>
        <li><a href="/api/highlights/">Highlights</a></li>
        <li><a href="/api/interactive_images/">Interactive Images</a></li>
        <li><a href="/api/boxes/">Boxes</a></li>
        <li><a href="/api/ratings/">Ratings</a></li>
        <li><a href="/api/media/">Media</a></li>
</ul>
    </li>

        {{ block.super}}
{% endblock %}

{% block footer %}

{% endblock %}