{% extends "rest_framework/base.html" %}

{% block title %}
        Holet Server
{% endblock %}

{% block branding %}
        <a class='brand' rel="nofollow" href='/api'>Holet API</a>
{% endblock %}

{% block userlinks %}
            <li><a href={% url 'show_home'  %}><span style="color:#269abc;">Return to Holet Frontend</span></a></li>

                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">JSON Access Points
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'route-list' %}">Holet's Routes Flat</a></li>
        <li><a href="{% url 'nested_route-list' %}">Holet's Routes Nested</a></li>
        <li><a href="{% url 'my_route-list' %}">User's Routes Flat</a></li>
        <li><a href="{% url 'my_nested_route-list' %}">User's Routes Nested</a></li>
        <li><a href="{% url 'rating-list' %}">All Ratings</a></li>
        <li><a href="{% url 'my_rating-list' %}">User's Ratings</a></li>
        <li><a href="{% url 'highlight-list' %}">Holet's Highlights</a></li>
        <li><a href="{% url 'my_highlight-list' %}">User's Highlights</a></li>
        <li><a href="{% url 'map-list' %}">Maps</a></li>


 </ul>
    </li>

                                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File-Upload Access Points
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'post_media' %}">Highlight Media Upload</a></li>
</ul>
    </li>


                                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File-Download Access Points
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'show_file_download_endpoint' 'get_route_map' %}">Route Maps</a></li>
        <li><a href="{% url 'show_file_download_endpoint' 'get_general_map' %}">General Map</a></li>
        <li><a href="{% url 'show_file_download_endpoint' 'get_general_reference_files' %}">General References</a></li>
        <li><a href="{% url 'show_file_download_endpoint' 'get_route_content_files' %}">Route Content</a></li>
</ul>
    </li>


                                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobile Webpages<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'show_mobile_pages' %}">Mobile Webpages</a></li>
</ul>
    </li>


        {{ block.super}}
{% endblock %}

{% block script %}

{{ block.super }}

    <script>
    if("{{ name }}".indexOf("Nested") >= 0){
    $('.form-switcher a[name="html-tab"]').hide();
    $('.form-switcher a[name="raw-tab"]').tab('show').hide();
    }
    </script>

{% endblock %}


{% block footer %}

{% endblock %}